/* css reset*/
*{box-sizing: border-box;}
*::after::before{box-sizing: border-box;}  /*伪元素*/
*{margin: 0;padding: 0;}
ul,ol{list-style: none;}
a{color: inherit;text-decoration: none;}   
img{max-width: 100%;height: 100%;}
/* style */   
body{background-color: #eee;}

.globalHeader{
    /* border: 1px solid red;  写一个地方的时候可以加边框确定位置，等写好后再删掉边框即可 */
    margin: 20px;    
}
@media (min-width: 500px) {
    .globalHeader {
      margin: 60px 0 100px;
    }
}
.searchForm{
    display: flex;
    justify-content: space-between;
}
@media (min-width: 500px) {
    .searchForm {
      max-width: 400px;  /* 媒体查询，如果大于500px就加上这些样式 */
      margin-left: auto; 
      margin-right: auto; /*居中 */
    }
}
.searchForm > input{
    width: 100%;
    margin-right: 10px;  /*加点右边距和按钮之间有点空隙*/
    height: 40px;
    padding: 0 10px;
    border:1px solid #ddd;
    border-radius: 4px;  
}
.searchForm > button{
    white-space: nowrap; 
    padding: 0 28px;
    border:none;
    border-radius: 4px;
    background: #0282B9;
    color: white;
    font-size: 16px;
}

.globalMain{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.siteList{
    /* border: 1px solid black; */
    margin: 20px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
}
@media (min-width: 500px){
    .siteList{
      margin-left: 0;
      margin-right: -25px;
      justify-content: flex-start;
    }
}
.siteList > li{
    /* border: 1px solid blue;  */
    margin-bottom: 10px;
}
@media(min-width: 500px){
    .siteList > li {
      margin-right: 25px;
    }
}
.siteList .site{
    border: 1px solid #ddd;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    background: white; 
    border-radius: 4px;
    padding: 20px 0; 
    position: relative;
    cursor: pointer;  
}
.siteList .site > .logo{
    /* border: 1px solid red; */
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 64px;
    text-transform: uppercase;
}
.siteList .site > .link{
    font-size: 14px;
    margin-top: 4px;
}
.siteList .site > .close {
    position: absolute;
    right: 10px;
    top: 5px;
    display: none;
    cursor: default;
  }
.siteList .site:hover > .close {
    display: block;    
}
.siteList .addButton{
    width: 160px;
    border: 1px solid #ddd; 
    background: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: 20px 0;
}
.siteList .addButton .icon{
    width: 55px;
    height: 55px;
}
.siteList .addButton .iconWrapper{
    /* border: 1px solid red; */
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.siteList .addButton .test{
    font-size: 14px;
    margin-top: 4px;
} 
